<html>
  <head>
    <title>Markdown Note</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1 style="display: inline;">Markdown Note</h1>
      <button onclick=save() style="display: inline-block; padding: 6px 12px; font-size: 14px; font-weight:400; line-height: 1.42857143; text-align: center; vertical-align: middle; cursor: pointer; background-color: #5cb85c; border-color: #4cae4c; color: #fff; border: 1px solid transparent; border-radius: 4px; float: right;">Save</button>
    </header>
    <textarea id="markdown"></textarea>
    <script type="text/javascript" src="/script/index.js"></script>
  </body>
</html>
