<html>
  <head>
    <title><%= fileName %></title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="/style/gfm.css" rel="stylesheet" type="text/css">
    <script src="//cdn.jsdelivr.net/highlight.js/9.5.0/highlight.min.js"></script>
    <link href="/style/gfm-code.css" rel="stylesheet" type="text/css">
    <style>
      .markdown-body {
        box-sizing: border-box;
	      min-width: 200px;
	      max-width: 980px;
	      margin: 0 auto;
	      padding: 45px;
      }

      @media (max-width: 767px) {
        .markdown-body {
	        padding: 15px;
	      }
      }
    </style>
  </head>
  <body>
    <div id="markdown" class="markdown-body"><%= data %></div>
    <script type="text/javascript">
      const htmlText = document.getElementById("markdown");
      const value = htmlText.innerHTML.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');
      const convertedHTML = marked(value);
      htmlText.innerHTML = convertedHTML;
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>